[env_run_base]
description = "run the tests with pytest"
package = "wheel"
wheel_build_env = ".pkg"
extras = [ "testing", "envfile" ]
pass_env = [ "DIFF_AGAINST", "PYTEST_*" ]
set_env.COVERAGE_FILE = "{env:COVERAGE_FILE:{toxworkdir}{/}.coverage.{envname}}"
commands = [
  [ "coverage", "erase" ],
  [
    "coverage",
    "run",
    "-m",
    "pytest",
    "{tty:--color=yes}",
    "--junitxml",
    "{toxworkdir}{/}junit.{envname}.xml",
    "{posargs:tests}",
  ],
  [ "coverage", "combine" ],
  [ "coverage", "report" ],
  [ "coverage", "html", "-d", "{envtmpdir}{/}htmlcov" ],
]

[env.dev]
description = "generate a DEV environment"
package = "editable"
extras = [ "testing" ]
commands = [
  [ "uv", "pip", "tree" ],
  [ "python", "-c", "import sys; print(sys.executable)" ],
]

[env.fix]
description = "run static analysis and style check using flake8"
skip_install = true
deps = [ "pre-commit-uv>=4.2" ]
pass_env = [ "HOMEPATH", "PROGRAMDATA" ]
commands = [ [ "pre-commit", "run", "--all-files", "--show-diff-on-failure" ] ]

[env.pkg_meta]
description = "check that the long description is valid"
skip_install = true
deps = [
  "check-wheel-contents>=0.6.3",
  "twine>=6.2",
  "uv>=0.10.3",
]
commands = [
  [ "uv", "build", "--sdist", "--wheel", "--out-dir", "{env_tmp_dir}", "." ],
  [ "twine", "check", "{env_tmp_dir}{/}*" ],
  [ "check-wheel-contents", "--no-config", "{env_tmp_dir}" ],
]

[env.type]
description = "run type check on code base"
deps = [ "ty==0.0.17" ]
commands = [ [ "ty", "check", "--output-format", "concise", "--error-on-warning", "." ] ]

[tox]
requires = [
  "tox>=4.36.1",
  "tox-uv>=1.29",
]
env_list = [
  "fix",
  "3.14",
  "3.13",
  "3.12",
  "3.11",
  "3.10",
  "type",
  "pkg_meta",
]
skip_missing_interpreters = true
